---

const {pic} = Astro.props;

const {image, userName, hashtags, userId} = pic;
---



<div class="p-2 border border-red-500 rounded-lg">
    <img src={`http://localhost:3000/img/${image}`} alt={image} width="400px">
   
    <h1 class="text-center  bg-red-500 text-white">{hashtags}</h1>
    <h2 class="text-center  bg-blue-500 text-white">{userName}</h2>
</div>